<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Responsive viewport, mobile optimized -->
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">

    <title>Travel Planner App</title>
</head>

<body>
    <div class="wrapper">


        <header></header>
        <main>
            <h1 class="main-header">The travel planner</h1>
            <section class="grid-item">
                <div class="card">
                    <img class="image w-100" src="">
                    <div src="../images/madrid.jpeg" alt="madrid" class="card-img"></div>
                </div>
                <div class="card">This is the second card</div>
            </section>
        </main>

        <footer>Footer</footer>
    </div>
</body>

</html>