$primary-color: #393939;
$secondary-color: #6348bb;
$primary-font: 'Anonymous Pro', monospace;
$secondary-font: 'Indie Flower', cursive;
$base-font-size: 18px;
$default-padding: 0.5rem;

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2.3em;
}

h4 {
    font-size: 2em;
    font-weight: 600;
}

h5 {
    font-size: 1.6em;
    font-weight: 600;
}

h6 {
    font-size: 1.2em;
    font-weight: 600;
}