$primary-color: #393939;
$secondary-color: #6348bb;
$primary-font: 'Anonymous Pro', monospace;
$secondary-font: 'Indie Flower', cursive;
$base-font-size: 18px;
$default-padding: 0.5rem;
$success-color: #28a745;
$warning-color: #eb9800;
$danger-color: #cc3838;
$light-grey: #838383;
$min-blue: #140ca8;
$max-orange: #552b13;

