@import 'theme';
@import 'utilities';


body {
    font-size: $base-font-size;
    color: $primary-color;
    font-family: $primary-font;
    padding: $default-padding;
}

.wrapper {
    display: grid;
    grid-template-rows: 50px auto 50px;
    height: 100vh;
}

.grid-item {
    display: flex;
    padding: 0.5em;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.3);
    width: 48%;
    margin: 0.5em auto;
    max-height: 600px;
}

.card-head {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.7em 0.5em;
}

.card-img {
    height: 200px;
    object-fit: cover;
    background-image: url('../images/madrid.jpeg');
    background-size: contain;
    background-repeat: no-repeat;

}

.card-body {
    margin: 0 0.5em;
    text-align: justify;
    font-size: 1.1rem;
}

.card-footer {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.75em 0.5em;
}

.main-header {
    text-align: center;
}

/* Apply to small devices */
@media (max-width: 768px) {
    body {
        padding: 0;
    }

    .card {
        width: 100%;
    }
}

/* Apply to medium devices */
@media (min-width: 769px) and (max-width: 1024px) {

}